
@font-face{
	font-family:MyFont;
	src:url('../font/Corki.otf');
}
@font-face{
	font-family:kuaishiFont;
	src:url('../font/zyjt.ttf');
}
body{
	padding:0;
	margin:0px;	
	border:0px;
	font-size: 15px; 
	letter-spacing:0px;
	font-family:"Times New Roman",Georgia,Serif;
	
}

#overdueDiv{	
	margin-left: 2px;	
	border:0px;
	background: white;
	position: absolute;
	z-index: 2;
	display: none;
}
#CoverImgDiv{
	width: 400px;
	height: 200px;
	margin-left: 155px;
	margin-top: 75px;
}
#captionlayoutdiv {
	width:100%;
	height:100%;
	margin: 0;
}
#logoImgContainer{
	width:20%;
	height:100%;
	float:left;
	text-align:left;
}

#titleDiv{/*用来设置表头 彩种文字样式*/
	width:60%;
	float:left;
	text-align:middle;
	font-weight:bolder;
	color:red;
}



#progressContainer{
	width:20%;
	height:100%;
	background-color:green;
	float:right;
}
#styleTitleDiv{/*设置右上角 倒计时标题文字样式*/
	width:100%;
	height:50%;
	/*background-color:blue;*/
	text-align:center;
	margin: auto; 
	padding: 0px;
	color:white;
	font-weight:bold;
}
#countDownDiv{/*右上角倒计时*/
	width:100%;
	height:50%;
	/*background-color:blue;*/
	text-align:center;
	margin: 0 auto; 
	padding: 0px;
	position:relative;
	border-top:1px solid grey;
}

#progressDiv/*设置倒计时时间走过变灰色*/
{
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width: 0;
    background-color: grey;
}
#timeDiv/*时间字体*/
{
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width: 100%;
    text-align:center;
    color:white;
    font-weight:bold;
}



#tableContainer{
	border: 0px; 
	margin: 0px; 
	padding: 0px;
	float:left;
}


#k3table{
	border-collapse: collapse;
	table-layout: fixed;
	border-color:#868686;
}
.innerTable{
	table-layout: fixed;
	border-collapse: collapse;
	border-width:0px; 
	border-right-style:hidden;
	border-color:#868686;
}
.ylTable{
	table-layout: fixed;
	border-collapse: collapse;
	border-width:1px; 	
	border-right-style:hidden;

	border-color:  #69e7e3;/*用于遗漏设置内置表格线条颜色*/
	/*border:2px solid ;*/
}
.ylTd{/*k3 昨日未出的样式*/
	text-align: left;
	vertical-align:top;
	padding-top: 5px;
	padding-left: 5px;
}

@font-face {/*//应用在绿色版字体开奖数字*/
  font-family: 'RussoOne';
  src: url('../font/RussoOne.ttf');
}
@font-face {/*//应用在快乐十分两区版开奖数字*/
  font-family: 'ariblk';
  src: url('../font/ariblk.ttf')
}
@font-face {/*//快3trend数字*/
  font-family: 'BerlinBold';
  src: url('../font/Berlin_Sans_FB_Demi_Bold.ttf')
}
@font-face {/*//艺彩数字*/
  font-family: 'YCArezzo';
  src: url('../font/Arezzo-Cd-Demi.ttf')
}
@font-face {/*//河北综合3  11x5*/
  font-family: 'HBz3Font';
  src: url('../font/GenericaCondensedStd-Bd.otf')
}
.zsttable {
	table-layout: fixed;
	border-collapse: collapse;
	border-width:0px; 
	border-right-style:hidden;
	border-color:#868686;

}


table td, table th { /*设置字体样式*/
	padding: 0px; 
	margin:0px;
	text-align: center;	
	letter-spacing:0px;
	font-weight:bold;
	font-family:"Times New Roman",Georgia,Serif;
	
}
.innerTable td, .innerTable th
{
	/*border-color: #D3D3D3;*/
	border-color:#C5C5C5;
}

.zsttable td, .zsttable th
{
	border-color: #C5C5C5;
	font-family:MyFont,"Times New Roman",Georgia,Serif;

}

.containerCH{/*改所有字体变小*/
	margin: 0px auto; 
	padding: 0px;
	border-width:0px;
	letter-spacing:-1px;
	text-align: center;	
}
.containerShape{/*双位数*/
	margin: 0px auto; 
	padding: 0px;
	border-width:0px;
	letter-spacing:-1px;
	text-align: center; 
	/*transform:scale(1.5,2);*/
	-moz-transform: scaleX(0.7) translate(-2px, 0);
	-webkit-transform: scaleX(0.7) translate(-2px, 0);
	transform: scaleX(0.7) translate(-2px, 0) ;
}
.containerShape10{/*10*/
	margin: 0px auto; 
	padding: 0px;
	border-width:0px;
	letter-spacing:-1px;
	text-align: center; 
	/*transform:scale(1.5,2);*/
	-moz-transform: scaleX(0.5) translate(-9px, 0);
	-webkit-transform: scaleX(0.5) translate(-9px, 0);
	transform: scaleX(0.5) translate(-9px, 0) ;
}
.container{
	margin: 0px auto; 
	padding: 0px;
	border-width:0px;
	letter-spacing:-1px;
	text-align: center; 
	white-space: nowrap;

}
.redball{
	margin: 0px auto; 
	padding: 0px;
	border-width:0px;
	border-radius:50%;
	background:#ff0000;
	color:white;
	font-size:15px;
	letter-spacing:-2px;
	text-align: center; 
}

.blackball{
	margin: 0px auto; 
	padding: 0px;
	border-width:0px;
	border-radius:50%;
	background:#AA7700 ;
	color:white;
	font-size:15px;
	letter-spacing:-2px;
	text-align: center; 
}
.purpleball{
	margin: 0px auto; 
	padding: 0px;
	border-width:0px;
	border-radius:50%;
	background:#800080 ;
	color:white;
	font-size:15px;
	letter-spacing:-2px;
	text-align: center; 
}

.hollowball{
	margin: 0px auto; 
	padding: 0px;
	border-width:1px;
	border-radius:50%;
	border-style:solid;
	/*border-color: red;*/
	/*background:grey ;*/
	font-size:15px;
	letter-spacing:-2px;
	text-align: center; 
}
.bigball{
	margin: 0px auto; 
	padding: 0px;
	border-width:0px;
	border-radius:50%;
	background:grey ;
	color:white;
	font-size:15px;
	letter-spacing:-2px;
	text-align: center; 
}
.smallball{
	margin: 0px auto; 
	padding: 0px;
	border-width:0px;
	border-radius:50%;
	background:grey ;
	color:white;
	font-size:15px;
	letter-spacing:-2px;
	text-align: center; 
}
.oneball{
	margin: 0px auto; 
	padding: 0px;
	border-width:0px;
	border-radius:50%;
	background:grey ;
	color:white;
	font-size:15px;
	letter-spacing:-2px;
	text-align: center; 
}
.twoball{
	margin: 0px auto; 
	padding: 0px;
	border-width:0px;
	border-radius:50%;
	background:grey ;
	color:white;
	font-size:15px;
	letter-spacing:-2px;
	text-align: center; 
}
.sandyBrownball{
	margin: 0px auto; 
	padding: 0px;
	border-width:0px;
	border-radius:50%;
	background:#800000;
	color:white;
	font-size:15px;
	letter-spacing:-2px;
	text-align: center; 
}
.crimsonball{
	margin: 0px auto; 
	padding: 0px;
	border-width:0px;
	border-radius:50%;
	background:#C3081B;
	color:white;
	font-size:15px;
	letter-spacing:-2px;
	text-align: center; 
}


.blueball{
	margin: 0px auto; 
	padding: 0px;
	border-width:0px;
	border-radius:50%;
	background:blue;
	color:white;
	letter-spacing:-2px;
	text-align: center; 
}

.skyblueball{
	margin: 0px auto; 
	padding: 0px;
	border-width:0px;
	border-radius:50%;
	background:#06a8ca;
	color:white;
	letter-spacing:-2px;
	text-align: center; 
}
.orangeball{
	margin: 0px auto; 
	padding: 0px;
	border-width:0px;
	border-radius:50%;
	background:orange;
	color:black;
	letter-spacing:-2px;
	text-align: center; 
	
}

.canvasdiv{
	margin: 0px auto; 
	padding: 0px;
	border-width:0px;
	text-align: center; 
}

#floatDiv{
	position:fixed;
	width:100%;
	height:100%;
	background-color:grey;
	display:none;
}
#floatDivContent{
	position:absolute;
	width:700px;
	height:700px;
	background-image:url('../images/tipsbg.png');
}

#systemEventDetail{
	width:100%;
	height:350px;
	text-align:center;
	font-size:36px;
}

/*#debugdiv{
	position:absolute;
	width:400px;
	height:400px;
	color:red;
	z-index:100;
}*/
	

#tipsInfoDiv{
	position:absolute;
	color:"#363A41";
	left:0px;
	text-align:center;	
	z-index:100;
	
}
#loginContainerDiv{
	display:none;
	width:100%;
	height:100%;
	background-color:grey;
	position:absolute;
	z-index:100;
	text-align:middle;
}
#loginDiv{
	width:700px;
	height:700px;
	background-image:url('../images/tipsbg.png');
	position:absolute;
}

#loginContentTable
{
	width:720px;
	height:280px;
	position:absolute;
	/*left:70px;*/
	top:56px;
	display:none;
	border:0px;
	padding:0px;
	margin:0px;
}
#loginContentTable td
{
	border-color:  #d8d8d8; 
	border-style:solid;
	border-width: 0px;
	height:140px;
	font-size:30px;
}
#commitButton{
	background-color:#3576ef;
	width:120px;
	height:65px;
	font-size:35px;
	margin-left: 20px;
	color: white;
}

#loginProgressTipsDiv{
	width:40%;
	height:50px;
	position:absolute;
	left:30%;
	top:25%;
	display:none;
	text-align:center;
	font-size:36px;
}

#orientationDivContainer{
	display:none;
	width:100%;
	height:100%;
	background-color:red;
	position:absolute;
	z-index:200;
	text-align:middle;
}

#orientationDivContent{
	width:40%;
	height:20px;
	position:absolute;
	left:30%;
	top:45%;
	text-align:center;
}
	
/*.ycshape{
	-moz-transform: scaleX(0.7) translate(-2px, 0);
	-webkit-transform: scaleX(0.7) translate(-2px, 0);
	transform: scaleX(0.7) translate(-2px, 0) ;
}*/
